In [6]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [7]:
from sklearn.linear_model import LinearRegression,Ridge,Lasso
from sklearn.tree import DecisionTreeRegressor
from sklearn.neighbors import KNeighborsRegressor
from sklearn.ensemble import RandomForestRegressor
from sklearn.svm import SVR
from sklearn.metrics import r2_score,mean_absolute_error,mean_squared_error
from sklearn.model_selection import RandomizedSearchCV

In [9]:
df=pd.read_csv("stud.csv")

In [10]:
df.head()

,gender,race_ethnicity,parental_level_of_education,lunch,test_preparation_course,math_score,reading_score,writing_score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75

In [11]:
df["total_score"]=df["math_score"]+df["reading_score"]+df["writing_score"]

In [12]:
df.head()

,gender,race_ethnicity,parental_level_of_education,lunch,test_preparation_course,math_score,reading_score,writing_score,total_score
0,female,group B,bachelor's degree,standard,none,72,72,74,218
1,female,group C,some college,standard,completed,69,90,88,247
2,female,group B,master's degree,standard,none,90,95,93,278
3,male,group A,associate's degree,free/reduced,none,47,57,44,148
4,male,group C,some college,standard,none,76,78,75,229

In [21]:
df["gender"]=df["gender"].apply(lambda x: 1 if x=="male" else 0)

In [27]:
for i in df.columns:
    if df[i].dtype=="O":
        print(i,"----",df[i].unique())

race_ethnicity ---- ['group B' 'group C' 'group A' 'group D' 'group E']
parental_level_of_education ---- ["bachelor's degree" 'some college' "master's degree" "associate's degree"
 'high school' 'some high school']
lunch ---- ['standard' 'free/reduced']
test_preparation_course ---- ['none' 'completed']

In [28]:
from sklearn.preprocessing import OneHotEncoder,StandardScaler

In [29]:
one_h=OneHotEncoder()
one_std=StandardScaler()

In [30]:
from sklearn.compose import ColumnTransformer

In [34]:
preprocsee=ColumnTransformer([("onehot",one_h,[i for i in df.columns if df[i].dtype=="O"]),("std_scal",one_std,[i for i in df.columns if df[i].dtype!="O"])])

In [39]:
x=df.iloc[:,:-1]
y=df.iloc[:,-1]

In [40]:
preprocsee=ColumnTransformer([("onehot",one_h,[i for i in x.columns if x[i].dtype=="O"]),("std_scal",one_std,[i for i in x.columns if x[i].dtype!="O"])])

In [41]:
x=preprocsee.fit_transform(x)

In [43]:
x.shape

(1000, 19)

In [45]:
from sklearn.model_selection import train_test_split

In [47]:
X_train,X_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=42)

In [48]:
models=models = {
    "Linear Regression": LinearRegression(),
    "Lasso": Lasso(),
    "Ridge": Ridge(),
    "K-Neighbors Regressor": KNeighborsRegressor(),
    "Decision Tree": DecisionTreeRegressor(),
    "Random Forest Regressor": RandomForestRegressor()
}

In [63]:
for i in models.items():
    model=(i[1])
    model.fit(X_train,y_train)
    y_pred=model.predict(X_test)
    print(i[0],r2_score(y_test,y_pred))

Linear Regression 1.0
Lasso 0.9993568350633021
Ridge 0.9999996376813023
K-Neighbors Regressor 0.9531700398346736
Decision Tree 0.9883481000950034
Random Forest Regressor 0.9936234037013753